.input-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-label-full{
    width: 100%;
}

.input-group{
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 576px){
    .input-group{
        flex-direction: column;
    }
}

.input-label {
    flex: 1
}

.input-label input{
    border: 1px solid #E3E3E4;
    border-radius: 84px;
    padding: 18px 30px 18px 30px;
    gap: 10px;
    height: 54px;
}

.gender-select{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gender-option{
    display: flex;
    gap: 10px;
    border: 1px solid #E3E3E4;
    border-radius: 84px;
    padding: 18px 30px 18px 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #484E5A;
    cursor: pointer;
}

.gender-option label, .gender-option input{
    cursor: pointer;
}

.gender-option input{
    margin:0;
    width: 20px;
}

.gender-option input[type="radio"] {
    display: none; /* Hide the default checkbox */
  }

.gender-option input[type="radio"] + label {
    display: inline-block;
    position: relative;
    padding-left: 33px; /* Adjust this value based on your image size */
    cursor: pointer;
  }
  
  .gender-option input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    width: 20px; /* Adjust this value based on your image size */
    height: 20px; /* Adjust this value based on your image size */
    background: url("/assets/unchecked.svg") no-repeat; /* Specify your unchecked image URL */
    background-size: contain; /* Ensure the image fits within the box */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .gender-option input[type="radio"]:checked + label::before {
    background: url("/assets/checkmark.svg") no-repeat; /* Specify your checked image URL */
    background-size: contain; /* Ensure the image fits within the box */
  }